body {
    background-color: #006EB6;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
header, footer {
    margin: 0 auto;
    padding: 1rem 1rem 0;
    max-width: 1000px;
    color: white;
    text-align: center;
}
main {
    background-color: lightgray;
    color: black;
    text-align: center;
    margin: 1rem auto;
    padding: 1em;
}
h1 {
    font-size: 2rem;
}
nav {
    display: none;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav a:hover {
    color: lightgray;
}
#menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.3rem;
}
h2 {
    font-size: 1.4rem;
}
#photo-gallery {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 50px;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
}
img {
    display: block;
    object-fit: cover;
    height: 300px;
    width: 300px;
    margin: 1rem auto;
    border: 5px solid white;
    box-shadow: 3px 3px 7px black;
}
footer {
    padding: 1rem;
    margin: 1rem auto;
}


@media screen and (min-width: 700px) {
    #photo-gallery {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 1000px) {
    #photo-gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #menu-btn {
        display: none;
    }
    nav {
        display: inline;
    }
}