body {
    background-color: #006EB6;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
header, footer {
    margin: 0 auto;
    padding: 1rem 1rem 0;
    max-width: 1000px;
    color: white;
    text-align: center;
}
main {
    background-color: lightgray;
    color: black;
    text-align: center;
    margin: 1rem auto;
    padding: 1em;
}
h1 {
    font-size: 2rem;
}
.hide {
    display: none;
}
nav a {
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
}
nav a:hover {
    color: lightgray;
}
#menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.3rem;
}
h2 {
    font-size: 1.4rem;
}
#photo-gallery {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 50px;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
}
img {
    display: block;
    object-fit: cover;
    height: 300px;
    width: 300px;
    margin: 1rem auto;
    border: 5px solid white;
    box-shadow: 3px 3px 7px black;
}
footer {
    padding: 1rem;
    margin: 1rem auto;
}

dialog img {
    height: auto;
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}
.close-viewer {
    position: absolute;
    top: 21.5vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}


@media screen and (min-width: 700px) {
    #photo-gallery {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 1000px) {
    #photo-gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #menu-btn {
        display: none;
    }
    nav a {
        display: inline;
        padding: 0 15px
    }
    .hide {
        display: inline;
    }
}