/* Category elements */
body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    width: 100%;
    background-color: #006eb6;
    color: white;
    padding: 0.5em 0;
}
main {
    background-color: lightgray;
    padding: 0.5em 0 4em;
}
footer {
    background-color: #006eb6;
    color: white;
    padding: 0.5em 0;
}

/* Header elements */
h1{
    font-size: 2.5em;
}
#menu {
    margin: 0;
    font-size: 2em;
}
.nav > ul {
    list-style: none;
    padding: 0;
}
.nav > ul > li {
    margin: 0.5em auto;
}
.nav > ul > li > a {
    color: white;
}
.hide{
    display: none;
}

/* Main elements */
h2{
    font-size: 1.75em;
}
main > section {
    display: grid;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap: 2em 4em;
}
.photo-div > img {
    object-fit: cover;
    height: 300px;
    width: 300px;
    border: white 5px solid;
    box-shadow: 5px 5px 10px black;
}

/* modal */
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer{
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}




@media (min-width: 768px) {
main > section {
    grid-template-columns: 1fr 1fr;
}
}


@media (min-width: 1024px) {
#menu {
    display: none;
}
.nav {
    display: block;
}
.nav > ul {
    display: flex;
    max-width: 40%;
    margin: 0 auto;
    justify-content: space-around;
    font-size: large;
}
.nav a{
    text-decoration: none;
}

main > section {
    grid-template-columns: 1fr 1fr 1fr;
}
dialog img{
    width: 60%;
    margin: 15vh auto;
}
.close-viewer{
    position: absolute;
    right: 15vh;
}
}