#content {
    max-width: 500px;
    margin: 50px auto;
}
h1, #subtitle {
    text-align: center;
}
p {
    text-align: left;
    line-height: 1.5em;
    letter-spacing: 0.5px;
}
#subtitle {
    color: rgb(62, 110, 200);
    letter-spacing: 1px;
    margin-bottom: 0;
}
hr {
    margin-top: 0;
    margin-bottom: 40px;
}
img {
    max-width: 25%;
    display: block;
    margin: 50px auto;
}
li {
    margin-bottom: 1.5em;
}

.dark-mode {
    background-color: #000;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
}
.light-mode {
    background-color: #fff;
    color: #000;
    transition: background-color 0.5s, color 0.5s;
}