body {
    max-width: 425px;
    max-height: 50%;
    margin: 50px auto;
    border: black 1px solid;
    padding: 2% 5%;
    transition: all 0.2s ease-in-out;
}
.dark {
    color: white;
    background-color: black;
    border: white 1px solid;
}
body p {
    line-height: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

header {
    text-align: center;
    border-bottom: 0.1px black solid;
    margin: 40px 0;
    letter-spacing: 0.1em;
}
h2 {
    font-size: 0.9em;
    margin: 0;
    color: #006EB6;
}
#theme {
    position: absolute;
    top: 25px;
    left: 25px;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
}
img {
    width: 150px;
    margin: 50px 0;
}